/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #21468f; /* Light blue background */
}

.container {
    width: 80%;
    font-style: italic;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}


/* Navbar */
.navbar {
    background-color: #000b16; /* Blue navbar */
    color: rgb(246, 246, 248);
    padding: 20px 0;
}

.navbar .logo {
    font-size: 24px;
}

.navbar .nav-links {
    list-style: none;
}

.navbar .nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.navbar .nav-links li a {
    color: white;
    text-decoration: none;
}

/* Progress Bar */
.progress-bar {
    list-style: none;
    display: flex;
    justify-content: space-around;
    padding: 20px 0;
}

.progress-bar li {
    color: #001124;
}

.progress-bar li.active {
    font-weight: bold;
}

/* Confirmation Section */
.confirmmain {
    margin-top: 50px;
}

.confirmation-section {
    background-color: #9ca6fa; /* White background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.confirmation-section h2 {
    color: #010b16;
}

.confirmation-section p {
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #7fb9f8; /* Blue footer */
    color: white;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
#checkoutButton {
    background-color: #00080f; /* Dark blue button color */
    color: white;
    padding: 15px 30px; /* Larger padding for bigger size */
    font-size: 18px; /* Larger font size */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#checkoutButton:hover {
    background-color: #04182c; /* Darker blue color on hover */
}
